
{{#each children}}
    
    <li ><span class="caret">
        {{this.name}}
        </span>
        {{#equal this.type 'file'}}
        <div class="row">
            <div class="col-xs-12 bg-success" style="border-radius:20%;">
                <a href="" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading" id="videotitle">
                            {{ formatMe this.name}}
                        </h4>
                        <p class="list-group-item-text">parag text</p>
                    </div>
                    <span class="pull-right">
                        <img src="" alt="image" class="img-responsive" style="max-height: 50px;">
                    </span>
                    <button class="btn btn-primary playbutton" id="{{this.path}}">Play Video</button>
                
                </a>

    </div>
        </div>
        {{/equal}}
        
        {{#if this.children}}
            {{#if this.children.length}}
              (<a href="#">{{this.children.length }} Children
              </a>) <i class="fa fa-folder"></i>
            {{/if}}
            <ul  class="nested">
                {{>list}}
            </ul>
        {{/if}}
    </li>
   
{{/each}}

<script>

   
   
    document.addEventListener('click', function (event) {
        mp4 = event.target.id
        if ( event.target.classList.contains( 'playbutton' ) ) {
            // Do something...
            // mp4 = this.id
            console.log( 'event id '+ mp4)
            let cindex = mp4.indexOf('videos');
            mp4len = mp4.length;
            vidlen = 'videos'.length;
            sublen = cindex + vidlen;
            let folder = mp4.substring(sublen, mp4len)

            video = document.getElementById('videoid');  
            let videotext = document.getElementById('videotitle');
            // let selected =  folder.toLowerCase();

            videotext.innerText = selected.substring(0, selected.lastIndexOf('.'));
            video.src = encodeURI(selected);
            video.load();
            video.play();
            video.focus(); 
        }
    }, true);

</script>